<div id="cesiumContainer">
  <!-- Upper Left: Latest World News -->
  <div class="latest-news">
    <div class="news-header">
      <h3>News As The World Turns</h3>
      <div class="logo-header">🌍 <span>Orbital News</span></div>
    </div>
    <div class="scrollable-container">
      <ul>
        <div *ngFor="let article of randomArticles">
          <li>
            <!-- Thumbnail Image -->
            <img *ngIf="article.urlToImage" [src]="article.urlToImage" alt="{{ article.title }}"
              class="article-thumbnail">

            <!-- Article Title -->
            <h3>{{ article.title }}</h3>

            <!-- Article Description -->
            <p>{{ article.description }}</p>

            <!-- Read More Link -->
            <a href="#" (click)="setSelectedArticle(article, $event)">Read more</a>
          </li>
        </div>
      </ul>
    </div>
  </div>

  <!-- Lower Left: Article Details (Always Visible) -->
  <div class="article-details">
    <h3>Article Details</h3>

    <!-- If there's an article, show it -->
    <div *ngIf="selectedArticle; else defaultContent">
      <img *ngIf="selectedArticle.urlToImage" [src]="selectedArticle.urlToImage" alt="{{ selectedArticle.title }}"
        class="article-thumbnail">
      <h4>{{ selectedArticle.title }}</h4>
      <p>{{ selectedArticle.content || selectedArticle.description }}</p>

      <a [href]="selectedArticle.url" target="_blank">View Full Article</a>

      <!-- Icon to Open Modal -->
      <span class="modal-icon" (click)="openModal(selectedArticle, $event)">📰 Open in Modal</span>
    </div>

    <!-- Default Content: Shown if No Article is Selected -->
    <ng-template #defaultContent>
      <div class="default-article">
        <div class="logo">
          🌍 <span>Orbital News</span>
        </div>
        <p>Stay updated with the latest global news!</p>
      </div>
    </ng-template>
  </div>


  <!-- Modal (Appears When Clicking the Icon) -->
  <div class="modal-overlay" *ngIf="modalArticle" (click)="closeModal($event)">
    <div class="modal" (click)="$event.stopPropagation()">
      <span class="close-icon" (click)="closeModal($event)">✖</span>
      <h3>{{ modalArticle.title }}</h3>
      <img *ngIf="modalArticle.urlToImage" [src]="modalArticle.urlToImage" alt="{{ modalArticle.title }}"
        class="modal-thumbnail">
      <p class="modal-content">
        {{ modalArticle.content }}
      </p>

      <a [href]="modalArticle.url" target="_blank">View Full Article</a>
    </div>
  </div>


  <!-- Lower Right: User Login Icons -->
  <div class="login-icon">
    <i class="fas fa-sign-in-alt"></i> <!-- Login icon -->
    <span>Login</span>
    <div class="logo">
      🌍 <span>ON - Orbital News</span>
    </div>
  </div>

  <!-- Ads Section at Bottom Right -->
  <div class="ads-bottom">
    <div class="ad-box">🌍 Ad 1: Travel Deals</div>
    <div class="ad-box">📰 Ad 2: News Subscription</div>
    <div class="ad-box">💻 Ad 3: Tech Offers</div>
  </div>

</div>